# Node modules
node_modules/

# Environment files
.env

# Logs
logs
*.log
npm-debug.log*

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db


backend/node_modules/
frontend/node_modules/
backend/.env
frontend/.env
